.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  p {
    font-size: 0.9rem;
    margin: 0;
  }
}

.App-logo {
  pointer-events: none;
}

.App-header {
  padding: 20px 0;
  h1 {
    font-size: 1.2rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-right: 20px;
    }
  }
}

.form {
  margin: 15px;
  button {
    margin: 2px;
  }
  
  label {
    border: 1px solid #cecece;
    display: inline-block;
    font-size: 0.8rem;
    height: 1rem;
    margin: 0 3px;
    padding: 1px 5px;
    text-align: left;
    vertical-align: middle;
    width: 130px;
  }
}

.qian {
  color: red;
}

.explanation {
  color: blue;
}

.yao {
  color: green;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
}

.history {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
}