body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  max-width: 480px;
  padding: 0 20px 100px 20px;
  text-align: center;
  margin: 0 auto;
 

}

p {
  margin: .75em 0 0 0;
}

.longInfo {
  text-align: left;
}
.App-logo {
  pointer-events: none;
}

.App-header {
  padding: 20px 0;
  h1 {
    font-size: 1.2rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-right: 20px;
    }
  }
}

.intro {
  // text-align: center;
  p {
    margin: 0;
    text-indent: 0;
    font-size: .9rem;
  }
}

.form {
  text-align: center;
  margin: 15px 0;
  button {
    margin: 2px;
  }

  label {
    border: 1px solid #cecece;
    display: inline-block;
    font-size: 0.8rem;
    height: 1rem;
    margin: 0 3px;
    padding: 1px 5px;
    text-align: left;
    vertical-align: middle;
    width: 130px;
  }
}

.qian {
  color: red;
}

.explanation {
  color: blue;
}

.yao {
  color: green;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
}

.history {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
}

